<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register new product</title>
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>

    <%-header%>
    
    <div id = "register">

        <p id="register-name">Register a new product</p>

        <form id="form" method="post" action="/register/new_product">

            <label for="productname" id="label-form-input">Product Name</label><br>
            <input type="text" id="form-input" name="productname"><br>

            <label for="descriptionproduct" id="label-form-input">Description</label><br>
            <input type="text" id="form-input" name="descriptionproduct"><br>
            
            <label for="productvalue" id="label-form-input">Product Value</label><br>
            <input type="number" step="0.001" id="form-input" name="productvalue"><br>

            <label for="productinventory" id="label-form-input">Inventory</label><br>
            <input type="number" id="form-input" name="productinventory"><br>
            
            <input type="submit" value="Submit" id="form-button">
            <input type="reset" id="form-button">
            
        </form>

    </div>

    <%-footer%>

</body>
</html>