<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a product</title>
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>

    <%-header%>        
    <div id = "parent-register">

        <p id="register-name">Delete a product</p>

        <form id="form" method="post" action="/delete/deleteResult">

            <label for="productname" id="label-form-input">Product Name</label><br>
            <input type="text" id="form-input" name="productname"><br>
                
            <input type="submit" value="Submit" id="form-button">
            <input type="reset" id="form-button">
                
        </form>
        
    </div>
    <%-footer%>
</body>
</html>