<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/body_main.css">
    <link rel="stylesheet" href="css/bodyText.css">
</head>
<body>
    
    <header>
        <div id="head-top" ><button type="button" id="header-button">Minha conta</button></div>
        <div id="header-text">
            <ul id="header-list">
                <li id="header-li"> <a href="./">Home</a></li>
                <li id="header-li"> <a href="./product"> Products </a> </li>
                <li id="header-li"><a href="./register">Register</a></li>
                <li id="header-li"><a href="./delete">Delete</a></li>
                <li id="header-li"><a href="./update">Update</a></li>
            </ul>
        </div>
    </header>

    <section id="body-content">
        <div id="body-introdution-text">
            <p id="body-text-title">My first CRUD</p>
            <p id="body-text-paragraphs">This project shows a simple CRUD I developed using node.js and MongoDB. Therefore, this application
                manages a product dataset so you can create, read, update and delete products and their traits such as
                product name, description, stock and price. These features can be used by clicking on the above buttons.</p>
            <p id="body-text-paragraphs">
                I created mainly it to demonstrate my basic knowledge about Back-End development,
                more specifically node.js and non-relational databases that I have been studying for a few weeks.
                As my first project, there is nothing complex and different here from most applications around the internet. 
                However, I am super attracted and fascinated by this area and I intend to go deeper into my studies and build more robust
                applications.
            </p>
        </div>
    </section>

</body>
</html>