<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register new product</title>
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>

    <header>
        <div id="head-top" ><button type="button" id="header-button">Minha conta</button></div>
        <div id="header-text">
            <ul id="header-list">
                <li id="header-li"> <a href="./">Home</a></li>
                <li id="header-li"> <a href="./product"> Products </a> </li>
                <li id="header-li"><a href="./register">Register</a></li>
                <li id="header-li"><a href="./delete">Delete</a></li>
                <li id="header-li"><a href="./update">Update</a></li>
            </ul>
        </div>
    </header>
    
    <div id = "register">

        <p id="register-name">Update a product</p>

        <form id="form" method="post" action="/update/new_product">

            <label for="productid" id="label-form-input">Product ID</label><br>
            <input type="text" id="form-input" name="productid"><br>

            <label for="descriptionproduct" id="label-form-input">Description</label><br>
            <input type="text" id="form-input" name="descriptionproduct"><br>

            <label for="productinventory" id="label-form-input">Inventory</label><br>
            <input type="number" id="form-input" name="productinventory"><br>
            
            <input type="submit" value="Submit" id="form-button">
            <input type="reset" id="form-button">
            
        </form>

    </div>

</body>
</html>