<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register new product</title>
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>

    <%-header%>

    <div id = "register">

        <p id="register-name">Update a product</p>

        <form id="form" method="post" action="/update/update_product">

            <label for="productid" id="label-form-input">Product ID</label><br>
            <input type="text" id="form-input" name="productid"><br>

            <label for="description" id="label-form-input">Description</label><br>
            <input type="text" id="form-input" name="description"><br>

            <label for="inventory" id="label-form-input">Inventory</label><br>
            <input type="number" id="form-input" name="inventory"><br>
            
            <input type="submit" value="Submit" id="form-button">
            <input type="reset" id="form-button">
            
        </form>

    </div>
    <%-footer%>
</body>
</html>