*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 112%;
    background-color: rgb(23, 20, 20);
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #2BBC8A;
}

#header-button{
    background-color: black;
    color: #2BBC8A;
    border-radius: 60px;
    padding: 1%;
    font-size: 100%;
    cursor: pointer;
    transition: 0.5s;
}

#header-button:hover{
    background-color: rgb(12, 12, 12);
}

#head-top{
    display: flex;
    justify-content: flex-end;
    background-color: #2BBC8A;
    padding: 1%;
    color: black;
}

#header-text{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: #2BBC8A;
    font-size: 120%;
}

#header-list{
    display:flex;
    flex-direction:row;
    list-style: none;
}

#header-li{
    margin: 2%;
    list-style: none;
    padding: 3%;
    cursor:pointer;
    transition: 0.5s;
}

#header-li:hover{
    background-color: #2BBC8A;
    color: black;
    border-radius: 80px;
}

#body-content{
    text-align: center;
    align-items: center;
    background-color: white;
    
}

#body-title{
    color:black;
    font-size: 170%;
    margin: 0;
}
